.systems-container-card {
    margin: 5px;
    width: 72vw;
    padding: 10px;
    height: 90vh;
}

.system-card{
    margin: 15px;
    border-width: 0px;
}

.system-img-card {
    border-radius: 20px;
    overflow: hidden;
    z-index: 100;
    box-shadow: 2px 5px 5px rgba(0,0,0, 0.25);
    transition: all 0.2s ease-in-out;
}

.system-img-container {
    width: auto;
    padding: 0;
    overflow: hidden;
}

.system-img {
    padding: 0;
    border-radius: 20px;
    height: auto;
    object-fit: contain;
    transition: all 0.5s ease-in-out;

}

.system-img:hover {
    cursor: pointer;
    transform: scale3d(1.1, 1.1, 1.1)
}

iframe {
    border-width: 0;
}

.iframe-card {
    border-radius: 20px;
    height: 80vh;
    width: 95vw;
}

.system-img-card:hover {
    transform: scale3d(1.02, 1.02, 1.02)
}

.system-iframe {
    border-radius: 20px;
    height: 78vh;
    width: 90vw;
}

.index-model-container {
    /* margin: 20px; */
    /* justify-content: center; */
    display: inline-flex;
}
/*
.index-model-card {
    box-shadow: 0px 12px 1px rgba(0,0,0, 0.15);
    border-width: 0; 
    justify-items: end;
    padding: 10px;
    height: 55rem;
    width: 35rem;
}

.embedded-index-human {
  height: 50rem;
  width: 30rem;
} */

.index-title {
justify-content: center;
margin: 10px;
}

.index-card {
    border-width: 0;
    margin: 10px;
    width: 100vw;
    height: 55rem;
}

.sub-text {
    margin-right: 90px;
}

.index-columns {
    margin: 5rem;
}



.index-model {
    width: 40rem;
    height: 34rem;
}

.embedded-body-model {
    width: 30rem;
    height: 70rem;
}

.index-body-model {
    width: 40rem;
    height: 80rem;
}